{{notice}}
[Unit]
Description=NinX Web Server running for papermerge

[Service]
Type=forking
User={{user}}
Group={{user}}
ExecStart=/usr/bin/nginx -c {{proj_root}}/etc/nginx.conf
ExecReload=/usr/bin/nginx -s reload