[Unit]
Description=MySite Service

[Service]
User={{USER}}
Group={{USER}}
WorkingDirectory={{PROJ_ROOT_DIR}}
EnvironmentFile={{PROJ_ROOT_DIR}}/etc/papermerge.env
ExecStart={{VIRT_ENV_DIR}}/bin/gunicorn config.wsgi:app --config /{{PROJ_ROOT_DIR}}/etc/gunicorn.conf.py