[Unit]
Description=PMWorker Celery Instance Service

[Service]
Type=forking
EnvironmentFile={{proj_root}}/run/etc/pmworker.env
WorkingDirectory={{proj_root}}
ExecStart={{virt_env}}/bin/celery multi start w1 \
     -A celery_apps.pmworker \
     --pidfile={{proj_root}}/run/w1.pid
     --logfile={{proj_root}}/run/log/w1.log
ExecReload={{virt_env}}/bin/celery multi restart w1 \
    -A celery_apps.pmworker \
    --pidfile={{proj_root}}/run/w1.pid
    --logfile={{proj_root}}/run/log/w1.log
ExecStop={{virt_env}}//bin/celery multi stopwait w1 \
    -A celery_apps.pmwroker \
    --pidfile={{proj_root}}/run/w1.pid
