.idea/
config/settings/local/*
*.conf.py
env.sh
env_dev.sh
env_test.sh
run/
.venv
*.pyc
__pycache__
*.swp
*.swn
*.swo
*.log
.ropeproject
*.sqlite3
*.sublime-project
*.map
*.png~
*.kra~
papermerge.egg-info
dist
# Sphinx documentation
docs/build/
_build
_static
_templates
media/
./static/
queue/
celerybeat-schedule
launch.json
.vscode
