include README.rst
include MANIFEST.in.cloud
include manage.py
include manage.sh
include LICENSE
include changelog.rst
include tenant_shell_startup.py
include vermilion/cloud/requirements.prod.freeze
include papermerge/boss/locale/de/LC_MESSAGES/django.mo
include papermerge/boss/locale/de/LC_MESSAGES/django.po
include papermerge/core/locale/de/LC_MESSAGES/django.mo
include papermerge/core/locale/de/LC_MESSAGES/django.po

recursive-include papermerge/core/pgsql/ *
recursive-include papermerge/boss/management/commands/thumbify/ *
recursive-include papermerge/boss/templates/	*
recursive-include papermerge/common/templates/	*
recursive-include papermerge/core/templates/	*
recursive-include papermerge/onprem/templates/	*
