{% load static  %}

<footer class="small font">
    <div class="row">
        <div class="col col1-3">
            <ul class="links">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col col1-3">
            <ul class="social">
                <li><a href="https://twitter.com/papermergeapp">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Gitlab</a></li>
            </ul>
        </div>
        <div class="col col1-3">
            <p class="copyright">2018 &copy papermerge.com. All rights reserved.</p>
        </div>

    </div>

    <div class="row description">
        <div class="col1-3">
            <div class="logo">
                <a  href="{% url 'core:index' %}">
                    <img src="{% static 'core/img/d-logo-white.svg' %}"  />
                </a>
            </div>
            <p>
                Papermerge manages scanned (as PDF or images format) documents. It is suitable for small and medium businesses which deal with lots of paperwork.
            </p>
        </div>
    </div>
</footer>
