{% load boss_urls i18n %}

{% block changelist_tools_ex %}
 <ul id="changelist-tools-ex" class="horizontal">
    <li>
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdown_view_opt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-{% if views__documents_view == 'grid' %}grid{% else %}list{% endif %}"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a href="{% url 'core:usersettings' option='documents_view' value='list' %}" class="dropdown-item horizontal fl-i-center" ><i class="icon-list {% if views__documents_view == 'list' %} current {% endif %} margin-right-xs"></i>
              {% trans "List" %}</a>
              <a href="{% url 'core:usersettings' option='documents_view' value='grid' %}" class="dropdown-item horizontal fl-i-center"><i class="icon-grid {% if views__documents_view == 'grid' %} current {% endif %} margin-right-xs"></i>
              {% trans "Grid" %}</a>
          </div>
        </div>
    </li>
    <li>
        <div class="dropdown order">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdown_order_opt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-order"></i>
          </button>
    <ul class="dropdown-menu dropdown-menu-right sort" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu-left dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">{% trans "Title" %}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item sort asc title" href="{% boss_order_items object %}?o=1">
                {% trans "Asc" %}
              </a></li>
              <li><a class="dropdown-item sort desc title" href="{% boss_order_items object %}?o=-1">
                {% trans "Desc" %}
              </a></li>
            </ul>
          </li>
          <li class="dropdown-submenu dropdown-submenu-left"><a class="dropdown-item dropdown-toggle" href="#">
            {% trans "Date" %}
          </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item sort asc date" href="{% boss_order_items object %}?o=2">
                {% trans "Asc" %}
              </a></li>
              <li><a class="dropdown-item sort desc date" href="{% boss_order_items object %}?o=-2">
                {% trans "Desc" %}
            </a></li>
            </ul>
          </li>
          <li class="dropdown-submenu-left dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">
            {% trans "Type" %}
          </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item sort asc type" href="{% boss_order_items object %}?o=3">
                {% trans "Asc" %}
              </a></li>
              <li><a class="dropdown-item sort desc type" href="{% boss_order_items object %}?o=-3">
                {% trans "Desc" %}
              </a></li>
            </ul>
          </li>
        </ul>
        </div>
    </li>
 </ul>
{% endblock changelist_tools_ex %}