{% load i18n static boss_list %}<!DOCTYPE html>
{% comment %}
   Base template used for webapp layout seen by user after he/she signs in.
{% endcomment %}
<html lang="en-us">
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'boss/css/papermerge.css' %}" />

    {% block extrahead %}
        <script src="{% static 'boss/js/papermerge.js' %}"></script>
    {% endblock %}

    {% block responsive %}
        <meta name="viewport" 
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

{% block messages %}
    <div class="toasts bottom-right">
        {% if messages %}
              <!-- Position it -->
            {% for message in messages %}
                    <!-- Then put toasts within -->
                    <div class="toast {% if message.tags %} {{ message.tags }}{% endif %}" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="toast-header">
                        <strong class="mr-auto">Info</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="toast-body">
                        {{ message|capfirst }}
                      </div>
                    </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock messages %}

<body class="app bg-c-neuter {% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

    <header>
        <ul class="horizontal header-3-cols">
            <li id="top-left-logo">
                <div class="horizontal">
                    <i class="icon-hamburger"></i>
                    <img class="logo" src="{% static 'boss/img/logo-black.svg' %}" />
                </div>
            </li>
            <li>{% block search %} {% include 'boss/_header_search_form.html' %} {% endblock %}</li>
            <li>
                <div id="top-right-menu-wrapper">
                    {% block top_right_menu_item %}
                    {% endblock %}
                    <a href="#" class="user top-right-menu-trigger">
                       <i class="icon-user phone"></i>
                    </a>
                    <div class="menu">
                        <a href="#" class="reverse menu-label desktop top-right-menu-trigger">{% firstof user.get_short_name user.get_username %}</a>
                        <ul id="top-right-menu">
                            <li class="phone">
                                <a href="#" class="dropdown-item">{% firstof user.get_short_name user.get_username %}</a>
                            </li>
                            <li class="phone">
                                <div class="dropdown-divider"></div>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'boss:auth_user_password_change' user.id %}">{% trans 'Change Password' %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'boss:knox_authtoken_changelist' %}">{% trans 'API Tokens' %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'boss:dynamic_preferences_users_userpreferencemodel_changelist' %}">
                                {% trans 'Preferences' %}
                                </a>
                            </li>
                            <!--
                                <div>
                                    {{ user.userprofile.current_storage_size|filesizeformat }} / {{ user_storage_max_size|filesizeformat }}
                                </div>
                            -->
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                <a id="logout" class="dropdown-item" href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </header>
        <main class="bg-c-clean horizontal">
            <nav id="left-sidebar" class="sidebar desktop">
                {% include 'boss/_sidebar_common.html' %}
            </nav>
             <nav id="left-sidebar" class="sidebar phone">
                <ul class="horizontal">
                    <li class="col-left">
                        {% include 'boss/_sidebar_common.html' %}
                    </li>
                    <li class="col-right">
                        <ul class="vertical">
                            {% block left_sidebar %}
                                <li>
                                    <button id="id_btn_upload2" class="btn btn-reverse">
                                        {% trans "Upload" %}
                                    </button>
                                </li>
                                <li>
                                    <!--parent_id=object.id -->
                                    <button id="new-folder" data-target-id="new-folder-form" class="btn btn-reverse">
                                        {% trans "New Folder" %}
                                    </button>
                                </li>
                            {% endblock left_sidebar %}
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="centralbar" class="fl-grow-12 vertical space-between">
                <div class="vertical-item-1">
                    {% block breadcrumbs %}
                        <div class="breadcrumbs">
                          {% if title %} &rsaquo; {{ title }}{% endif %}
                        </div>
                    {% endblock %}
                    {% block pretitle %}{% endblock %}
                    {% block content_title %}{% if title %}<h3 class="padding-md">{{ title }}</h3>{% endif %}{% endblock %}
                    {% block document_change_form_spinner %}
                    {% endblock %}
                    {% block content %}
                        {% block object-tools %}{% endblock %}
                        {{ content }}
                    {% endblock %}
                </div>
                <div class="vertical-item-2">
                    {% block pagination %}
                    {% endblock %}
                </div>
            </div>
                <!-- END Content -->

                {% block footer %}<div id="footer"></div>{% endblock %}
        </main>
    <footer class="bg-c-neuter"> </footer>
    {% block modals %}
    {% endblock modals %}
</body>
</html>
