{% comment %}
    Left bar with pages
{% endcomment %}

{% load i18n admin_urls static %}

<div class="js-inline-admin-formset inline-group"
     id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="stacked"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
<fieldset class="module {{ inline_admin_formset.classes }}">
    {% for inline_admin_form in inline_admin_formset %}
     <div class="inline-related{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
      {% for fieldset in inline_admin_form %}

        {% include "boss/includes/thumbnails_fieldset.html" with page_num=forloop.parentloop.counter doc_id=original.pk %}
      {% endfor %}
    </div>
    {% endfor %}

</fieldset>
</div>
