{% extends "admin/base_site_one_col.html" %}

{% load i18n %}
{% load account %}

{% block breadcrumbs %}{% endblock %}

{% block topbar %}
    {% include "_topbar.html" with current='register' %}
{% endblock topbar %}

{% block branding %}
<h1 id="site-name"><a id="boss-brand" href="{% url 'core:index' %}">Papermerge</a></h1>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block title %}{% trans "Registration" %} | Papermerge{% endblock %}

{% block content %}
<div class="continental-xs padding-xl bg-c-clean shadow-xs">
    <h3>{% trans "Confirm E-mail Address" %}</h3>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p class="padding-x-md">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

    <form method="post" class="vertical" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
        <button type="submit" class="btn action">{% trans 'Confirm' %}</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}
</div> <!-- continental -->

{% endblock %}
