{% extends "admin/base_site_one_col.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block breadcrumbs %}{% endblock %}


{% block branding %}
<h1 id="site-name"><a id="boss-brand" href="{% url 'core:index' %}">Papermerge</a></h1>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}
{% block title %}{% trans "Password recovery" %} | Papermerge{% endblock %}

{% block topbar %}
    {% include "_topbar.html" with current='register' %}
{% endblock topbar %}

{% block content %}
<div class="continental-account bg-c-clean shadow-xs">
    <h3>{% trans "Change your password" %}</h3>


    <div id="content-main">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

        <p class="padding-x-md">{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset labels-above">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-row">
                <input type="submit" class="btn action" value="{% trans 'Reset My Password' %}" />
            </div>
        </form>

    </div>
</div> <!-- continental -->

{% endblock %}
