{% extends "boss/change_list.html" %}
{% load boss_list boss_urls %}

{% block content_title %}{% endblock %}

{% block object-tools-items %}
{% if has_add_permission %}
    <li><a id="add_task" href="{% url 'boss:core_task_add' %}"><i class="icon plus"></i>Task</a></li>
{% endif %}
{% endblock object-tools-items %}

{% block changelist_tools_ex %}
{% endblock changelist_tools_ex %}

{% block result_list %}
    {% block result_list_content %}
            {% task_result_list cl %}
    {% endblock %}
{% endblock %}
