<fieldset class="document module aligned {{ fieldset.classes }}">
    <div class="form-row field-number">
        <div>
            <input value="{{page_num}}" />
        </div>
    </div>
    <div class="form-row field-image">
        <div class="page_thumbnail">
            <div class="document page" 
                data-page_num="{{page_num}}"
                data-img_type="thumbnail"
                data-doc_id="{{doc_id}}"
                data-step="4">
                <input type="checkbox" name="_selected_action" value="{{ page_num }}" />
             </div>
        </div>
    </div>
</fieldset>
