{% load i18n admin_urls %}

<div class="submit-row vertical">
    {% if original %}
        <a class="download btn action margin-x-sm" href="{% url 'core:document_download' original.pk %}" value="{% trans 'Download' %}" />{% trans "Download" %}</a>
    {% endif %}
    {% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="btn btn-neuter" name="_save" />{% endif %}

    {% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" />{% endif %}

    {% comment %}
    {% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />{% endif %}
    {% if show_save_and_continue %}<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />{% endif %}
    {% endcomment %}
</div>
