{% load static i18n  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Papermerge | {% trans "Log in" %}</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'admin/img/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'admin/css/all.min.css' %}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'admin/css/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'admin/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page m-3">
  <div class="login-logo">
    <div>
      <img src="{% static 'admin/img/logo_120x116_wbg.png' %}"/>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <div>
    <ul class="list-unstyled">
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
  </div>
<!-- jQuery -->
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'admin/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'admin/js/adminlte.js' %}"></script>

</body>
</html>