{% extends "boss/change_list.html" %}
{% load boss_tags static %}

{% load admin_list mptt_admin boss_urls i18n  polymorphic_admin_tags boss_tags %}

{% block modals %}
    {% include 'boss/_forms.js.html' %}
{% endblock modals %}

{% block filters %}
{% endblock %}

{% block content_title %}{% endblock %}

{% block result_list %}
    <form enctype="multipart/form-data" action="/upload/" method="post" id="upload_form" novalidate>
        <input type="file" name="file_name" multiple="" required="" id="id_file_name" style="display: none">
        {% csrf_token %}
    
    {% block result_list_content %}
        {% if cl and cl.query %}
            {% boss_search_results cl user %}
        {% elif views__documents_view == 'grid' %}
            {% boss_result_grid cl %}
        {% else %}
            {% boss_result_list cl %}
        {% endif %}

        {% comment %} used for file upload {% endcomment %}
        <input type="hidden" id="parent_id" name="parent_id" value="{% if object %} {{ object.id }} {% else %} {% endif %}">
        </form>
    {% endblock %}
{% endblock %}


{% block object-tools %}
  <div class="tools horizontal space-between fl-wrap desktop">
    <ul id="changelist-tools" class="horizontal fl-i-center fl-wrap">
        {% if has_add_permission %}
            <li>
                <select name="lang" id="lang" class="">
                    <option value="eng"  {% if request.user.preferences.ocr__OCR_Language == 'eng' %} selected {% endif %}>English</option>
                    <option value="deu"  {% if request.user.preferences.ocr__OCR_Language == 'deu' %} selected {% endif %}>Deutsch</option>
                </select>
            </li>
            <li>
                <button id="id_btn_upload1" class="btn btn-neuter">{% trans "Upload" %}</button>
            </li>
            <li>
                <!--parent_id=object.id -->
                <button id="new-folder" data-target-id="new-folder-form" class="btn btn-neuter">
                    {% trans "New Folder" %}
                </button>

            </li>
        {% endif %}
      <li>
        <div class="dropdown">
          <button class="btn btn-light btn-neuter btn-bordered dropdown-toggle" type="button" id="changelist_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Actions" %}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item fl fl-i-center"><a id="download" class="dropdown-item fl fl-i-center disabled" href="#"><i class="icon-download margin-right-xs"></i>{% trans "Download" %}</a></li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item fl fl-i-center disabled" >
                <a id="cut" href="#"><i class="icon-scissors margin-right-xs"></i>{% trans "Cut" %}</a>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle fl fl-i-center disabled" href="#">
                <i class="icon-paste margin-right-xs"></i>{% trans "Paste" %}</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="paste" href="{% boss_order_items object %}?o=1">
                  {% trans "Asc" %}
                </a></li>
                <li><a class="dropdown-item" href="{% boss_order_items object %}?o=-1">
                  {% trans "Desc" %}
                </a></li>
              </ul>
            </li>
            <li class="dropdown-item fl fl-i-center disabled">
                <a  id="rename" data-target-id="rename-form" disabled href="#">
              <i class="icon-edit margin-right-xs"></i>{% trans "Rename" %}
                </a>
            </li>
            <li class="dropdown-item fl fl-i-center disabled" >
                <a id="access" data-target-id="access-form" disabled href="#">
                  <i class="icon group-black margin-right-xs"></i>{% trans "Access" %}
                </a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item fl fl-i-center disabled">
                <a id="delete" href="#"><i class="icon-trash margin-right-xs"></i>{% trans "Delete" %}</a>
            </li>
          </ul>
        </div>
      </li>
   </ul>
   {% include 'boss/_tools_ex.html' %}
 </div>
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbs" class="desktop breadcrumbs horizontal-between padding-left-sm">
        <div>
        {% if cl and cl.query %}
            {% trans "Search results" %}
        {% else %}
            {% breadcrumbs_tree_path object %}
        {% endif %}
        </div>
        <div>
            {% if object %}
                <form action="{% url 'boss:core_basetreenode_changelist' %}" method="get">
                    <input placeholder="{% trans 'Search within folder...' %}" name="q" value="" class="search_secondary">
                        <input type="hidden" name="parent_id" value="{{ object.id }}">
                        <i class="icon-search-light"></i>
                    </input>
                </form>
            {% else %}
                <form>
                    <input disabled class="search_secondary_placeholder">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

