{% extends "boss/change_list.html" %}
{% load boss_tags static %}

{% load admin_list mptt_admin boss_urls i18n  polymorphic_admin_tags boss_tags %}

{% block modals %}
    {% include 'boss/_forms.js.html' %}
{% endblock modals %}

{% block filters %}
{% endblock %}

{% block content_title %}{% endblock %}

{% block result_list %}
    <form enctype="multipart/form-data" action="/upload/" method="post" id="upload_form" novalidate>
        <input type="file" name="file_name" multiple="" required="" id="id_file_name" style="display: none">
        {% csrf_token %}
    
    {% block result_list_content %}
        {% if cl and cl.query %}
            {% boss_search_results cl user %}
        {% elif views__documents_view == 'grid' %}
            {% boss_result_grid cl %}
        {% else %}
            {% boss_result_list cl %}
        {% endif %}

        {% comment %} used for file upload {% endcomment %}
        <input type="hidden" id="parent_id" name="parent_id" value="{% if object %} {{ object.id }} {% else %} {% endif %}">
        </form>
    {% endblock %}
{% endblock %}


{% block object-tools %}
      <div class="navbar">
        <div class="navbar-inner w-100 d-flex justify-content-between align-items-center">
            <ul id="changelist-tools" class="nav nav-pills">
                {% if has_add_permission %}
                    <li class="mx-1">
                        {% ocr_language_select user %}
                    </li>
                    <li class="mx-1">
                        <button id="id_btn_upload1" class="btn btn-neuter">{% trans "Upload" %}</button>
                    </li>
                    <li class="mx-1">
                        <!--parent_id=object.id -->
                        <button id="new-folder" data-target-id="new-folder-form" class="btn btn-neuter">
                            {% trans "New Folder" %}
                        </button>

                    </li>
                {% endif %}
              <li class="mx-1">
                <div class="dropdown actions">
                  <button class="btn btn-light btn-neuter btn-bordered dropdown-toggle" type="button" id="changelist_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Actions" %}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item fl fl-i-center" id="download" class="dropdown-item fl fl-i-center disabled">
                        <i class="icon-download margin-right-xs"></i>{% trans "Download" %}
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item fl fl-i-center disabled" id="cut">
                        <i class="icon-scissors margin-right-xs"></i>{% trans "Cut" %}
                    </li>
                    <!-- PASTE -->
                    <li class="nav-item dropdown-submenu-right dropdown-submenu dropdown fl fl-i-center">
                        <a class="dropdown-item dropdown-toggle" href="#" id="paste-dropdown" data-toggle="dropdown">
                            <i class="icon-paste margin-right-xs"></i>
                            {% trans "Paste" %}
                        </a>
                      <ul class="dropdown-menu" aria-labelledby="paste-dropdown">
                        <li class="dropdown-item" id="paste">
                          {% trans "Documents & Folders" %}
                        </li>
                        <li class="dropdown-item" id="paste_pages">
                          {% trans "Pages" %}
                        </li>
                      </ul>
                    </li>
                    <!-- PASTE -->
                    <li class="dropdown-item fl fl-i-center disabled" id="rename" data-target-id="rename-form" disabled>
                        <i class="icon-edit margin-right-xs"></i>{% trans "Rename" %}
                    </li>
                    <li class="dropdown-item fl fl-i-center disabled" id="access" data-target-id="access-form" disabled>
                        <i class="icon group-black margin-right-xs"></i>{% trans "Access" %}
                    </li>
                    <li class="dropdown-item fl fl-i-center disabled" id="metadata" data-target-id="metadata-form" disabled>
                        <i class="icon icon-list margin-right-xs"></i>{% trans "Metadata" %}
                    </li>
                    <li class="dropdown-divider"></li>
                    <li id="delete" class="dropdown-item fl fl-i-center disabled">
                        <i class="icon-trash margin-right-xs"></i>{% trans "Delete" %}
                    </li>
                  </ul>
                </div>
              </li>
           </ul>
           {% include 'boss/_tools_ex.html' %}
        </div> <!--  navbar-inner -->
     </div> <!--  navbar -->
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbs" class="desktop breadcrumbs horizontal-between padding-left-sm">
        <div>
        {% if cl and cl.query %}
            {% trans "Search results" %}
        {% else %}
            {% breadcrumbs_tree_path object %}
        {% endif %}
        </div>
        <div>
            {% if object %}
                <form action="{% url 'boss:core_basetreenode_changelist' %}" method="get">
                    <input placeholder="{% trans 'Search within folder...' %}" name="q" value="" class="search_secondary">
                        <input type="hidden" name="parent_id" value="{{ object.id }}">
                        <i class="icon-search-light"></i>
                    </input>
                </form>
            {% else %}
                <form>
                    <input disabled class="search_secondary_placeholder">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

