{% comment %}
  Central pages bar
{% endcomment %}

{% load i18n admin_urls static %}

<div class="js-inline-admin-formset inline-group"
     id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="stacked"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
<fieldset class="module">
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}
    {% for page in pages %}
     <fieldset class="document module aligned">
        <div class="form-row field-image">
            <div class="actual_page">
                <div class="document page" 
                    data-page_num="{{page.number}}"
                    data-img_type="page"
                    data-page_id="{{page.id}}"
                    data-doc_id="{{original.pk}}"
                    data-page_order="{{page.number}}"
                    data-step="3">
                </div>
                <div class="page_number">
                    <input value="{{page.number}}" />
                </div>
            </div>
        </div>
    </fieldset>
    {% endfor %}
</fieldset>
</div>
