{% load static i18n admin_tags  %}

<!-- Brand Logo -->
<a href="{% url 'index' %}" class="brand-link">
  <img src="{% static 'admin/img/logo_bbg.svg' %}" alt="" class="brand-image"
       style="opacity: .8">
  <span class="brand-text font-weight-light">Papermerge</span>
</a>

<!-- Sidebar -->
<div class="sidebar sidebar_collapse_remember">
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item">
        <a href="{% url 'browse' %}" class="nav-link {% activate_on 'index, browse' %}">
          <i class="nav-icon fa fa-folder"></i>
          <p>
            {% trans "Documents" %}
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fa fa-inbox"></i>
          <p>
            {% trans "Inbox" %} (3)
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'core:groups' %}" class="nav-link  {% activate_on 'groups, group' %}">
          <i class="nav-icon fa fa-users"></i>
          <p>
            {% trans "Groups" %}
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'core:users' %}" class="nav-link {% activate_on 'users, user' %}">
          <i class="nav-icon fa fa-user-friends"></i>
          <p>
            {% trans "Users" %}
          </p>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->