<ul class="page_thumbnails">
    {% for page in pages %}
        <li class="page_thumbnail {% if forloop.first %} first {% endif %} {% if forloop.last %} last {% endif %}">
          <div class="arrow-up-control">
              <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
          </div>
          <img src="/document/{{document.id}}/preview/4/page/{{page.number}}">
          <div class="arrow-down-control">
              <a href="#"><i class="fa fa-arrow-circle-down"></i></a>
          </div>
          <div class="page_number">{{ page.number }}</div>
        </li>
    {% endfor %}
</ul> 