{% extends "admin/base.html" %}

{% load i18n admin_tags %}

{% block title %} Papermerge | {% trans "Documents" %} {% endblock %}

{% block actions %}
<div class="col-12 d-flex justify-content-between">
  <div id="actions">
   <ul  class="nav nav-pills">
     <li class="mx-1">
         {% ocr_language_select user %}
     </li>
     <li class="mx-1">
         <button type="button" id="id_btn_upload" class="btn btn-light btn-bordered ">
            <i class="fa fa-upload mr-1"></i>{% trans "Upload" %}
          </button>
     </li>
     <!-- Hidden input required for file uploads-->
     <input type="file"
       name="file_name"
       id="id_file_name"
       multiple="true"
       hidden="true"
     />
     <li class="mx-1">
         <!--parent_id=object.id -->
         <button id="new-folder" data-target-id="new-folder-form" class="btn btn-light btn-bordered">
            <i class="fa fa-plus mr-1"></i>{% trans "New Folder" %}
         </button>

     </li>
      <li class="mx-1">
          <div class="dropdown actions">
            <button class="btn btn-light btn-light btn-bordered dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bolt mr-1"></i>{% trans "Actions" %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <li class="dropdown-item disabled" id="cut">
                   <a><i class="fa fa-cut mx-2"></i>{% trans "Cut" %}</a>
               </li>
               <!-- PASTE BEGIN -->
               <li class="nav-item dropright dropdown-submenu dropdown fl fl-i-center">
                   <a class="dropdown-item dropdown-toggle" href="#" id="paste-dropdown" data-toggle="dropdown">
                       <i class="fa fa-paste mx-2"></i>
                       {% trans "Paste" %}
                   </a>
                 <ul class="dropdown-menu" aria-labelledby="paste-dropdown">
                   <li class="dropdown-item" id="paste">
                     <a>{% trans "Documents & Folders" %}</a>
                   </li>
                   <li class="dropdown-item" id="paste_pages">
                     <a>{% trans "Pages" %}</a>
                   </li>
                 </ul>
               </li>
               <!-- PASTE END -->
               <li  id="rename" class="dropdown-item disabled">
                   <a><i class="fa fa-edit mx-2"></i>{% trans "Rename" %}</a>
               </li>
               <li  id="access" class="dropdown-item disabled">
                   <a><i class="fa fa-users mx-2"></i>{% trans "Access" %}</a>
               </li>
               <li class="dropdown-divider"></li>
               <li id="delete" class="dropdown-item disabled">
                   <a><i class="fa fa-bomb mx-2 "></i>{% trans "Delete" %}</a>
               </li>
            </ul>
          </div>
      </li>
  </ul>
  </div> <!-- #actions -->
  <div id="display-mode" class="d-flex flex-row">
  </div> <!--  #display-mode -->
</div>
{% endblock %}

{% block breadcrumb %}
    <div id="breadcrumb" class="col-sm-12">
    </div><!-- /.col -->
{% endblock %}

{% block modals %}
    {% include 'admin/_forms.js.html' %}
{% endblock modals %}


{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <div id="browse">
        </div>
    </div>
  </div>
  <!-- /.row -->
</div><!-- /.container-fluid -->
{% endblock %}