{% extends "admin/base.html" %}

{% load i18n bootstrap4 %}

{% block title %}{% trans "Log Entry" %}{% endblock %}

{% block breadcrumb %}
    <div class="col-sm-12 pl-0">
      <a href="{% url 'admin:logs' %}">{% trans "Logs" %}</a>
      /
      {{ title }}
    </div><!-- /.col -->
{% endblock %}


{% block content %}
    <div class="col-lg-12 col-md-12">
        <div class="p-1 p-md-3">
          <form>
            {% bootstrap_form form %}
          </form>
        </div>
    </div>
{% endblock %}

{% block widgetsbar %}
<div class="card">
  <div class="card-body">
    <ul class="collection">
      <li class="collection-item d-flex flex-row-reverse mt-3">
          <a href="{% url 'admin:logs' %}" class="btn btn-primary btn-flat btn-block">
            <i class="fa fa-check"></i>
            {% trans 'Close' %}
          </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}