{% extends "admin/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Preferences" %}{% endblock %}

{% block breadcrumb %}
    <div class="col-sm-12 pl-0">
      <a href="{% url 'admin:preferences' %}">
        <i class="fa fa-cogs mx-2"></i>{% trans "Preferences" %}
      </a>
    </div><!-- /.col -->
{% endblock %}

{% block content %}
<div class="preferences">
    <div class="row">
        {% for section in sections %}
        <div class="col-md-4 col-lg-3 col-sm-6">
          <div class="card">
              <div class="card-body text-center">
                <h1>
                  <a href="{% url 'admin:preferences_section' section.name %}">
                  <i class="fa fa-{{section.icon_name}}"></i>
                  {{section}}
                </a>
                </h1>
              <p class="m-2">{{section.help_text}}</p>
              </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}