name: github-actions
on: [push]
jobs:
  check-pep8-compliance:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pycodestyle
      - name: Validate PEP8 compliance
        run: pycodestyle papermerge/

