# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: mglib

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pycodestyle pytest coverage
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        sudo apt install poppler-utils pdftk
    - name: Lint with pycodestyle
      run: |
        pycodestyle mglib --count --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        coverage run -m pytest
